# Stata Snippets for Atom
# Produced by Christopher Prener, PhD
# Saint Louis University
# SOC 5050: Quantitative Analysis
#
# README and licensing: https://github.com/slu-soc5050/Week-03
#
# To install, add this text below the final comment in your Atom snippets.cson
# file. To open this file, go to Atom > Snippets on Mac and File > Snippets
# on Windows.
#
# Once installed, you can begin typing the 'prefix' text into your Atom
# document. Note that you need to have switched the document type to Stata
# before using the snippets below.
#
# After placing the snippet into your document, you can use the 'tab' key
# to move through the fill-in fields in both do-file templates. After you
# type into one field, you can hit the 'tab' button again to move to the
# next field.

# Stata Snippets:

'.source.stata':
  'Divider Level 1':
    'prefix': 'div1'
    'body': '// =========================================================================='
  'Divider Level 2':
    'prefix': 'div2'
    'body': '// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++'
  'Master Do-File Header':
    'prefix': 'headMaster'
    'body': """
            // ==========================================================================

            // ${1:/*enter a title here*/}

            // ==========================================================================

            // standard opening options

            version 14
            log close _all
            graph drop _all
            clear all
            set more off
            set linesize 80

            // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

            // confirm necessary packages present

            which markdoc

            // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

            // change directory

            if "`c(os)'" == "MacOSX" {
            	cd "/Users/`c(username)'/Documents/Working"
            }
            else if "`c(os)'" == "Windows" {
            	cd "E:/Users/`c(username)'/Documents/Working"
            }

            // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

            // check to see if source data exists

            global sourceData "${2:/*enter the source data filename here*/}.dta"
            capture confirm file "$sourceData"

            if _rc==601 {
            	display in red "This do-file requires that the source dataset be saved in your working folder."
            	exit
            }

            // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

            // check to see if appropriate directories exist

            global projName "${3:/*enter the project name here*/}"
            capture mkdir $projName

            capture mkdir "$projName/CodeArchive"
            capture mkdir "$projName/Plots"

            // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

            // log process

            log using "$projName/$projName.txt", text replace

            // ==========================================================================

            /*
            file name - master.do

            project name - SOC5050: Quantitative Analysis, Fall 2016

            purpose - ${4:/*what does this do-file do?*/}

            created - ${5:/*what is today's date?*/}

            updated - ${5:/*what is today's date?*/}

            author - ${6:/*what is your name?*/}
            */

            // ==========================================================================

            /*
            full description -
            ${7:/*enter a description of what this do-file does*/}
            */

            /*
            updates -
            none
            */

            // ==========================================================================

            /*
            superordinates  -
            - ${8:/*enter the source data filename here*/}.dta
            */

            /*
            subordinates -
            - data.do
            - analysis.do
            */

            // ==========================================================================

            // copy source data to new directory

            global $newData "${9:/*enter a new filename here*/}.dta"
            copy $sourceData "$projName/$newData", replace

            // ==========================================================================
            // ==========================================================================
            // ==========================================================================

            // 1. execute data cleaning file
            do "data.do"

            // 2. execute data analysis / markdoc file
            do "analysis.do"

            // ==========================================================================
            // ==========================================================================
            // ==========================================================================

            // copy code to code archive

            copy "master.do" "$projName/Code/master.do", replace
            copy "data.do" "$projName/Code/data.do", replace
            copy "analysis.do" "$projName/Code/analysis.do", replace

            // ==========================================================================

            // standard closing options

            log close _all
            graph drop _all
            set more on

            // ==========================================================================

            exit

            """
  'Data Do-File Header':
    'prefix': 'headData'
    'body': """
          // ==========================================================================

          // ${1:/*enter a title here*/}

          // ==========================================================================

          // standard opening options

          set more off
          set linesize 80

          // ==========================================================================

          /*
          file name - data.do

          project name - SOC5050: Quantitative Analysis, Fall 2016

          purpose - ${2:/*what does this do-file do?*/}

          created - ${3:/*what is today's date?*/}

          updated - ${3:/*what is today's date?*/}

          author - ${4:/*what is your name?*/}
          */

          // ==========================================================================

          /*
          full description -
          ${5:/*enter a description of what this do-file does*/}
          */

          /*
          updates -
          none
          */

          // ==========================================================================

          /*
          superordinates  -
          - ${6:/*enter the source data filename here*/}.dta
          - master.do
          */

          /*
          subordinates -
          none
          */

          // ==========================================================================
          // ==========================================================================
          // ==========================================================================

          ${7:/*begin writing commands here*/}



          // ==========================================================================
          // ==========================================================================
          // ==========================================================================

          // save altered data
          save "$projName/$newData", replace

          // ==========================================================================
          
          // exit

          """
  'Analysis Do-File Header':
    'prefix': 'headAnalysis'
    'body': """
          // ==========================================================================

          // ${1:/*enter a title here*/}

          // ==========================================================================

          // standard opening options

          set more off
          set linesize 80

          // ==========================================================================

          /*
          file name - analysis.do

          project name - SOC5050: Quantitative Analysis, Fall 2016

          purpose - ${2:/*what does this do-file do?*/}

          created - ${3:/*what is today's date?*/}

          updated - ${3:/*what is today's date?*/}

          author - ${4:/*what is your name?*/}
          */

          // ==========================================================================

          /*
          full description -
          ${5:/*enter a description of what this do-file does*/}
          */

          /*
          updates -
          none
          */

          // ==========================================================================

          /*
          superordinates  -
          - ${6:/*enter the source data filename here*/}.dta
          - master.do
          */

          /*
          subordinates -
          none
          */

          // ==========================================================================
          // ==========================================================================
          // ==========================================================================

          // start MarkDoc log
          quietly log using "$projName-markdoc.smcl", replace smcl name(markdoc)

          // OFF
          // ==========================================================================
          // ON

          /***
          # $projName
            - SOC 5050: Quantitative Analysis
            - ${3:/*what is today's date?*/}
            - ${4:/*what is your name?*/}

          ### ${7:/*what is the name of the first part?*/}
          ***/

          ${8:/*begin writing commands and narrative here*/}


          // OFF
          // ==========================================================================

          // end MarkDoc log
          quietly log close markdoc

          // convert MarkDoc log to Markdown
          markdoc "$projName-markdoc", replace export(md) install

          // ==========================================================================
          // ==========================================================================
          // ==========================================================================

          // exit

          """
